*
	margin: 0
	padding: 0
	outline: none
body
	margin: 0
	background-color: #292929
	font-family: "Gotham Pro", sans-serif
input, button, .button
	font-family: "Gotham Pro", sans-serif
	&:focus
		outline: nones