*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Arial', sans-serif;

    background-color: #f6f6f6;
}
.content-box
{
    width: 58%;
    min-width: 991px;
    margin: 5% auto;
    padding: 5%;

    background-color: #fff;
}
.image-box
{
    display: inline-block;

    width: 48%;
}
.description
{
    display: inline-block;

    width: 47%;
    margin-left: 20px;

    vertical-align: top;
}
h1
{
    font-size: 23px;

    margin-bottom: 5.6%;
}
p
{
    font-size: 15px;

    margin-bottom: 12.1%;
}
.text-price
{
    margin-bottom: -3.1%;
}
.number-price
{
    font-size: 30px;

    margin-bottom: 2%;
}
button
{
    font-size: 19px;

    display: inline-block;

    width: 254px;
    height: 52px;
    margin-top: 40px;

    color: #fff;
    border: none;
    outline: none;
    background: #ec744a;
}
